# Scrape [Ministry of Foreign Affairs](http://mfa.go.th/main/en/news3)

The website contain news with en-th format:
* EN: `http://mfa.go.th/main/en/news3/6886/74116-The-Minister-of-Foreign-Affairs-Attended-the-2nd-M.html`
* TH: `http://mfa.go.th/main/th/news3/6886/74116-The-Minister-of-Foreign-Affairs-Attended-the-2nd-M.html`

In [2]:
#export
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm_notebook
import time

data_path= 'data/'

## Get Categories

In [3]:
#export
cat_df = pd.DataFrame({
    'cat_name':['Top Stories', 'Press Release', 'Social & Cultural News'],
    'cat_url':['http://mfa.go.th/main/en/news3/6885',
               'http://mfa.go.th/main/en/news3/6886',
               'http://mfa.go.th/main/en/news3/6888']
})
cat_df

                 cat_name                              cat_url
0             Top Stories  http://mfa.go.th/main/en/news3/6885
1           Press Release  http://mfa.go.th/main/en/news3/6886
2  Social & Cultural News  http://mfa.go.th/main/en/news3/6888

In [12]:
#export
max_pages = []
for cat_url in tqdm_notebook(cat_df.cat_url):
    page = requests.get(cat_url)
    time.sleep(5) #time out
    soup = BeautifulSoup(page.content, 'html.parser')
    page_nb = soup.find_all('a', class_='paginate')
    if len(page_nb)==0: 
        max_page = 1
    else:
        max_page = int(page_nb[-1].text)
    max_pages.append(max_page)
cat_df['max_page'] = max_pages

In [13]:
cat_df.to_csv(f'{data_path}mfa_df.csv',index=False)
cat_df

In [14]:
#estimated sentences available
cat_df.max_page.sum()*10*25